:root{
    --verde-oscuro: #012611;
    --gris-oscuro: #1D2621;
    --verde-claro: #4EA66D;
    --beige: #F2F2DC;
    --negro: #0D0D0D;

    /* tamaño letras */
    --base-size-font: 14px;
    --normal-font-size: 1em;
    --pequenha-font-size: 0.85em;
    --grande-font-size: 1.71em;
    --titulo-font-size: 2.57em;

    /* fuentes */
    --fuente-lora: 'Lora', 'Garamond', 'Times New Roman', Times, serif;
    --fuente-playfair: 'Playfair Display', 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

body{
    margin: 0;
    font-size: var(--base-size-font);
}

/* logos tripadvisor y instagram, ademas de el horario y direccion, usado en el header y footer */
.logos-and-datos-contacto{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: center;
}
    .logos-and-datos-contacto > * {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    #linea-vertical-logos-and-datos-contacto{
        width: 1px;
        background-color: white;
        margin: 0px 10px;
    }
    #textos-info-logos-and-datos-contacto, 
    #logos-trip-ig-logos-and-datos-contacto{
        margin: 20px 10px
    }

/* tamaño de logos de redes */
.logo-redes{
    width: 1.6rem;
}

/* footer */
footer > *{
    width: 100%;
    box-sizing: border-box;
    color: white;
    font-family: var(--fuente-lora);

}
    /* footer contenido */
    #contenedor-contenido-footer{
        font-size: var(--pequenha-font-size);
        background-color: var(--verde-oscuro);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        padding: 5% 5% 5% 15%;
    }
        #contenedor-logo-emerald-y-contacto{
            width: 300px;
        }
            #contenedor-footer-logo{
                border-bottom: 1px white solid;
            }
                #contenedor-footer-logo img{
                    width: 100px;
                }
            #contenedor-footer-texto{
                display: flex;
                flex-direction: column;
                gap: 20px;
                margin-top: 20px;
            }
                #contenedor-footer-texto .redes{
                    display: flex;
                    flex-direction: row;
                    justify-content: left;
                    align-items: center;
                    gap: 10px;
                }

        /* google maps */
        #google-maps-footer{
            width: 50%;
            height: 300px;
            min-width: 400px;
        }
            #google-maps-footer iframe{
                width: 100%;
                height: 100%;
            }

        /* horario y demas redes */
        #contenedor-footer-logos-trip-ig-and-texto-horario-direccion{
            display: flex;
            align-content: center;
        }

    /* END footer contenido */


    /* footer copyright */
    footer #copyright{
        font-family: var(--fuente-lora);
        background-color: var(--negro);
        bottom: 0px;
        font-size: var(--pequenha-font-size);

        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 10px;
    }

    footer #copyright #linea-horizontal-copyright{
        width: 1px;
        height: auto;
        background-color: white;
        margin: 0px 6px;
    }
    /* END footer copyright */

/* END footer */