.container > *{
    background-color: #cf5659;
    padding: 15px;
    margin: 15px;
}

.container{
    background-color: inherit;
}

.container 

#cuerpo{
    background-color: inherit;
}

#cuerpo  *{
    background-color: #cf5659;
    margin: 0;
}

#articulo-entero > *{
    background-color: #c0b766;
}

#articulo-entero{
    min-height: 40vh;
}